            /**************** Extra Small Screens From 501px to 767px ****************/
            
            @media (max-width:767px) {
                .header-content {
                    min-height: 120px;
                }
                .hidden-terms {
                    display: flex;
                    width: 33.33%;
                }
                .logo {
                    width: 33.33%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                }
                .logo-box {
                    width: 60%;
                }
                .logo-img {
                    max-width: 100%;
                }
                .rools {
                    padding-top: 0;
                    width: 33.33%;
                    justify-content: flex-end;
                }
                /*** Start Side Menu ***/
                .mo-nav {
                    position: fixed;
                    top: 0;
                    right: -580px;
                    width: 260px;
                    height: 100%;
                    background-color: #fff;
                    z-index: 99999;
                    overflow: auto;
                    padding: 23px 15px 60px 15px;
                    transition: all 0.4s ease-in-out;
                    /* display: none; */
                }
                html[dir=ltr] .mo-nav {
                    right: auto;
                    left: -580px;
                }
                .close {
                    display: block;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    z-index: 9999;
                    border: none;
                    outline: none;
                    font-size: 22px;
                    color: #757575;
                    opacity: 1;
                    transition: all 0.4s ease-in-out;
                }
                html[dir=ltr] .close {
                    left: auto;
                    right: 20px;
                }
                .close:hover {
                    color: #4caf50;
                }
                .mo-nav .lang {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 60px;
                }
                .mo-nav .flag {
                    display: none;
                }
                .mo-nav .lang-name {
                    margin-right: 0;
                    margin-bottom: 5px;
                }
                html[dir=ltr] .mo-nav .lang-name {
                    margin-left: 0;
                }
                .lang:hover .lang-name::after {
                    transform: rotate(0);
                }
                html[dir=ltr] .lang:hover .lang-name::after {
                    transform: rotate(0);
                }
                .mo-nav .lang-list {
                    position: relative;
                    top: auto;
                    right: auto;
                    transform: none;
                    width: auto;
                    background-color: transparent;
                    box-shadow: none;
                    text-align: right;
                    z-index: auto;
                    border-radius: 0;
                    transition: none;
                    visibility: visible;
                    opacity: 1;
                    display: none;
                }
                .mo-nav .lang-li {
                    padding: 2px 0;
                }
                .lang-li:first-child::after {
                    display: none;
                }
                .nav-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 0;
                }
                .nav-li {
                    margin-left: 0;
                    padding: 5px 0;
                    width: 100%;
                    position: relative;
                }
                html[dir=ltr] .nav-li {
                    margin-right: 0;
                }
                .nav-li::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #ededed;
                }
                .nav-li:last-child::after {
                    display: none;
                }
                .menu-open {
                    right: 0;
                }
                html[dir=ltr] .menu-open {
                    right: auto;
                    left: 0;
                }
                .open-menu::after {
                    content: "\e871";
                    font-family: "Linearicons-Free";
                    font-style: normal;
                }
                .close-menu::after {
                    content: "\e870";
                    font-family: "Linearicons-Free";
                    font-style: normal;
                }
                /*** End Side Menu ***/
                .menu {
                    font-size: 27px;
                }
                .config {
                    margin-left: 25px;
                }
                html[dir=ltr] .config {
                    margin-left: 0;
                    margin-right: 25px;
                }
                .shop {
                    margin-left: 0;
                }
                html[dir=ltr] .shop {
                    margin-right: 0;
                }
                .config .config-name,
                .shop .shop-name {
                    display: none;
                }
                .config .config-icon,
                .shop .shop-icon {
                    font-size: 27px;
                }
                .config-list {
                    top: 30px;
                }
                .lang {
                    display: none;
                }
                .properties {
                    padding-top: 30px;
                }
                .prop-box {
                    flex-direction: column;
                    padding-top: 0px;
                    background: none;
                    /* width: 100%; */
                }
                .prop-img-box {
                    margin-right: 0;
                    margin-left: 0;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    width: 60%;
                    margin: 0 auto;
                }
                .prop-img {
                    max-width: 100%;
                }
                .prop {
                    margin-bottom: 20px;
                    flex-direction: column;
                    align-items: center;
                }
                .prop .prop-content {
                    text-align: center;
                    padding: 0 50px;
                }
                html[dir=ltr] .prop .prop-content {
                    text-align: center;
                }
                .prop .tea-paper {
                    display: none;
                }
                /* html[dir=ltr] .prop-right {
                    justify-content: flex-end;
                } */
                .product-info {
                    background: url(../images/properties/big-background2.png) no-repeat center;
                    background-size: contain;
                    padding: 30px 0 50px 0;
                }
                .product-price {
                    font-size: 20px;
                    font-family: "bold";
                    color: #424242;
                    margin-bottom: 15px;
                }
                .first-price {
                    font-size: 26px;
                }
                .last-price {
                    font-size: 20px;
                }
                .product-name {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
                .counter {
                    width: 180px;
                    margin-bottom: 15px;
                }
                .counter-input {
                    width: 100%;
                    height: 40px;
                    font-size: 25px;
                    font-family: "medium";
                }
                .add,
                .sub {
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                    top: 3px;
                    font-size: 24px;
                }
                .add-span,
                .sub-span {
                    margin-top: -3px;
                }
                .product-content .add-to-cart {
                    width: 180px;
                    height: 45px;
                    font-size: 18px;
                }
                .about-content {
                    flex-direction: column;
                }
                .about-desc {
                    width: 100%;
                    background: url(../images/about/background-theme.png) center;
                    background-size: contain;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 30px 15px 50px;
                    order: 2;
                }
                html[dir=ltr] .about-desc {
                    padding: 30px 15px;
                }
                .about-title {
                    font-size: 25px;
                    text-align: center;
                }
                .about-p1,
                .about-p2 {
                    font-size: 16px;
                    text-align: justify;
                }
                .about-p1 {
                    margin-bottom: 20px;
                }
                .about-img-box {
                    width: 100%;
                    order: 1;
                }
                .tea-test {
                    background: none;
                    background-size: cover;
                    padding: 70px 0 50px 0;
                }
                .test-info {
                    background: none;
                    flex-direction: column;
                    margin-right: 0;
                }
                html[dir=ltr] .test-info {
                    background: none;
                    margin-left: 0;
                }
                .test-title {
                    margin-bottom: 50px;
                    font-size: 32px;
                    text-align: center;
                    line-height: 1.2;
                    margin-left: 0;
                }
                html[dir=ltr] .test-title {
                    margin-right: 0;
                    text-align: center;
                }
                .test-img-box {
                    width: 60%;
                    margin: 0 auto;
                    text-align: center;
                }
                .test-img {
                    max-width: 100%;
                }
                .test-product {
                    margin-top: 30px;
                }
                .features {
                    padding: 50px 0;
                }
                .feature {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .feature-icon-box {
                    margin-left: 0;
                    font-size: 50px;
                    color: #fff;
                    margin-bottom: 10px;
                }
                html[dir=ltr] .feature-icon-box {
                    margin-right: 0;
                }
                .feature-content {
                    text-align: center;
                }
                .footer-list {
                    flex-direction: column;
                }
                .footer-li {
                    margin-left: 0;
                    margin-bottom: 10px;
                }
                html[dir=ltr] .footer-li {
                    margin-right: 0;
                }
            }
            /**************** Extra Small Screens From 0 to 500px ****************/
            
            @media (max-width: 500px) {
                .header-content {
                    min-height: 100px;
                }
                .logo-box {
                    width: 70%;
                }
                .menu {
                    font-size: 24px;
                }
                .config .config-icon,
                .shop .shop-icon {
                    font-size: 24px;
                }
                .config {
                    margin-left: 20px;
                }
                html[dir=ltr] .config {
                    margin-left: 0;
                    margin-right: 20px;
                }
                .prop .prop-content {
                    text-align: center;
                    padding: 0 10px;
                }
                .prop-img-box {
                    width: 70%;
                }
                .test-img-box {
                    width: 70%;
                    margin: 0 auto;
                    text-align: center;
                }
            }
            /*********************  Small Screens *********************/
            
            @media (min-width: 768px) and (max-width: 991px) {
                .header-content {
                    min-height: 130px;
                }
                .hidden-terms {
                    display: flex;
                    width: 33.33%;
                }
                .logo {
                    width: 33.33%;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    text-align: center;
                }
                .logo-box {
                    width: 70%;
                }
                .rools {
                    padding-top: 0;
                    width: 33.33%;
                    justify-content: flex-end;
                }
                /*** Start Side Menu ***/
                .mo-nav {
                    position: fixed;
                    top: 0;
                    right: -580px;
                    width: 300px;
                    height: 100%;
                    background-color: #fff;
                    z-index: 99999;
                    overflow: auto;
                    padding: 23px 15px 60px 15px;
                    transition: all 0.4s ease-in-out;
                    /* display: none; */
                }
                html[dir=ltr] .mo-nav {
                    right: auto;
                    left: -580px;
                }
                .close {
                    display: block;
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    z-index: 9999;
                    border: none;
                    outline: none;
                    font-size: 22px;
                    color: #757575;
                    opacity: 1;
                    transition: all 0.4s ease-in-out;
                }
                html[dir=ltr] .close {
                    left: auto;
                    right: 20px;
                }
                .close:hover {
                    color: #4caf50;
                }
                .mo-nav .lang {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 60px;
                }
                .mo-nav .flag {
                    display: none;
                }
                .mo-nav .lang-name {
                    margin-right: 0;
                    margin-bottom: 5px;
                }
                html[dir=ltr] .mo-nav .lang-name {
                    margin-left: 0;
                }
                .lang:hover .lang-name::after {
                    transform: rotate(0);
                }
                html[dir=ltr] .lang:hover .lang-name::after {
                    transform: rotate(0);
                }
                .mo-nav .lang-list {
                    position: relative;
                    top: auto;
                    right: auto;
                    transform: none;
                    width: auto;
                    background-color: transparent;
                    box-shadow: none;
                    text-align: right;
                    z-index: auto;
                    border-radius: 0;
                    transition: none;
                    visibility: visible;
                    opacity: 1;
                    display: none;
                }
                .mo-nav .lang-li {
                    padding: 2px 0;
                }
                .lang-li:first-child::after {
                    display: none;
                }
                .nav-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-bottom: 0;
                }
                .nav-li {
                    margin-left: 0;
                    padding: 5px 0;
                    width: 100%;
                    position: relative;
                }
                html[dir=ltr] .nav-li {
                    margin-right: 0;
                }
                .nav-li::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    height: 2px;
                    background-color: #ededed;
                }
                .nav-li:last-child::after {
                    display: none;
                }
                .menu-open {
                    right: 0;
                }
                html[dir=ltr] .menu-open {
                    right: auto;
                    left: 0;
                }
                .open-menu::after {
                    content: "\e871";
                    font-family: "Linearicons-Free";
                    font-style: normal;
                }
                .close-menu::after {
                    content: "\e870";
                    font-family: "Linearicons-Free";
                    font-style: normal;
                }
                /*** End Side Menu ***/
                .menu {
                    font-size: 27px;
                }
                .config {
                    margin-left: 25px;
                }
                html[dir=ltr] .config {
                    margin-left: 0;
                    margin-right: 25px;
                }
                .shop {
                    margin-left: 0;
                }
                html[dir=ltr] .shop {
                    margin-right: 0;
                }
                .config .config-name,
                .shop .shop-name {
                    display: none;
                }
                .config .config-icon,
                .shop .shop-icon {
                    font-size: 27px;
                }
                .config-list {
                    top: 30px;
                }
                .lang {
                    display: none;
                }
                .properties {
                    padding-top: 30px;
                }
                .prop-box {
                    flex-direction: column;
                    padding-top: 0px;
                    background: none;
                    /* width: 100%; */
                }
                .prop-img-box {
                    margin-right: 0;
                    margin-left: 0;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    width: 45%;
                    margin: 0 auto;
                    text-align: center;
                }
                .prop-img {
                    max-width: 100%;
                }
                .prop {
                    margin-bottom: 20px;
                    flex-direction: column;
                    align-items: center;
                }
                .prop .prop-content {
                    text-align: center;
                    padding: 0 90px;
                }
                html[dir=ltr] .prop .prop-content {
                    text-align: center;
                }
                .prop .tea-paper {
                    display: none;
                }
                .prop-right .tea-paper-right {
                    order: 1;
                    margin-right: 0;
                }
                html[dir=ltr] .prop-right .tea-paper-right {
                    margin-left: 0;
                }
                .prop-right .content-right {
                    order: 2;
                }
                .tea-paper-left {
                    margin-left: 0;
                }
                html[dir=ltr] .tea-paper-left {
                    margin-right: 0;
                }
                /* .prop-right {
                    justify-content: flex-end;
                } */
                /* html[dir=ltr] .prop-right {
                    justify-content: flex-end;
                } */
                .product-info {
                    background: url(../images/properties/big-background2.png) no-repeat center;
                    background-size: cover;
                    padding: 50px 0 70px 0;
                }
                .product-price {
                    font-size: 20px;
                    font-family: "bold";
                    color: #424242;
                    margin-bottom: 15px;
                }
                .first-price {
                    font-size: 26px;
                }
                .last-price {
                    font-size: 20px;
                }
                .product-name {
                    font-size: 20px;
                    margin-bottom: 15px;
                }
                .counter {
                    width: 180px;
                    margin-bottom: 15px;
                }
                .counter-input {
                    width: 100%;
                    height: 40px;
                    font-size: 25px;
                    font-family: "medium";
                }
                .add,
                .sub {
                    width: 34px;
                    height: 34px;
                    line-height: 34px;
                    top: 3px;
                    font-size: 24px;
                }
                .add-span,
                .sub-span {
                    margin-top: -2px;
                }
                .product-content .add-to-cart {
                    width: 180px;
                    height: 45px;
                    font-size: 18px;
                }
                .about-content {
                    flex-direction: column;
                }
                .about-desc {
                    width: 100%;
                    background: url(../images/about/background-theme.png) center;
                    background-size: contain;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 30px 15px 50px;
                    order: 2;
                }
                html[dir=ltr] .about-desc {
                    padding: 30px 15px;
                }
                .about-title {
                    font-size: 25px;
                    text-align: center;
                }
                .about-p1,
                .about-p2 {
                    font-size: 16px;
                    text-align: justify;
                }
                .about-p1 {
                    margin-bottom: 20px;
                }
                .about-img-box {
                    width: 100%;
                    order: 1;
                }
                .tea-test {
                    background: url(../images/tea-test/section-background2.png) no-repeat;
                    background-size: cover;
                    padding: 100px 0 50px 0;
                }
                .test-info {
                    background: none;
                    flex-direction: column;
                    margin-right: 0;
                }
                html[dir=ltr] .test-info {
                    background: none;
                    margin-left: 0;
                }
                .test-title {
                    margin-bottom: 50px;
                    font-size: 32px;
                    text-align: center;
                    line-height: 1.2;
                    margin-left: 0;
                }
                html[dir=ltr] .test-title {
                    margin-right: 0;
                    text-align: center;
                }
                .test-img-box {
                    width: 45%;
                    margin: 0 auto;
                    text-align: center;
                }
                .test-img {
                    max-width: 100%;
                }
                .test-product {
                    margin-top: 30px;
                }
                .features {
                    padding: 50px 0;
                }
                .feature {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                .feature-icon-box {
                    margin-left: 0;
                    font-size: 50px;
                    color: #fff;
                    margin-bottom: 10px;
                }
                html[dir=ltr] .feature-icon-box {
                    margin-right: 0;
                }
                .feature-content {
                    text-align: center;
                }
                .footer-list {
                    flex-direction: column;
                }
                .footer-li {
                    margin-left: 0;
                    margin-bottom: 10px;
                }
                html[dir=ltr] .footer-li {
                    margin-right: 0;
                }
            }
            /*********************  Medium Screens ********************/
            
            @media (min-width: 992px)and (max-width: 1199px) {
                .mo-nav {
                    margin-left: 50px;
                }
                html[dir=ltr] .mo-nav {
                    margin-left: 0;
                    margin-right: 50px;
                }
                html[dir=ltr] .nav-li {
                    margin-left: 0;
                    margin-right: 15px;
                }
                .nav-li .nav-link {
                    font-size: 15px;
                }
                .main-slider .owl-carousel .owl-dots {
                    bottom: 10px;
                }
                .prop-img-box {
                    margin-right: 30px;
                    margin-left: 30px;
                    margin-top: 10px;
                }
                .prop-title {
                    font-size: 18px;
                }
                .prop-desc {
                    font-size: 12px;
                }
                .product-info {
                    background: url(../images/properties/big-background2.png) no-repeat center;
                    background-size: cover;
                    padding: 60px 0 60px 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }
                .about-desc {
                    padding: 15px 30px;
                }
                html[dir=ltr] .about-desc {
                    padding: 15px 30px;
                }
                .about-title {
                    font-size: 22px;
                    font-family: "bold";
                    color: #424242;
                    margin-bottom: 25px;
                    margin-top: 0;
                }
                .about-p1,
                .about-p2 {
                    font-size: 14px;
                    font-family: "regular";
                    line-height: 1.7;
                }
                .about-p1 {
                    margin-bottom: 15px;
                }
                .feature-icon-box {
                    margin-left: 10px;
                    font-size: 40px;
                }
                html[dir=ltr] .feature-icon-box {
                    margin-left: 0;
                    margin-right: 10px;
                }
                .feature-name {
                    font-size: 22px;
                }
                html[dir=ltr] .feature-name {
                    font-size: 20px;
                }
                .feature-desc {
                    color: #fff;
                    font-size: 14px;
                    font-family: "regular";
                    margin-bottom: 0;
                }
                html[dir=ltr] .feature-desc {
                    font-size: 12px;
                }
                .footer-li {
                    margin-left: 15px;
                }
                html[dir=ltr] .footer-li {
                    margin-left: 0;
                    margin-right: 15px;
                }
                .footer-li .footer-link {
                    font-size: 15px;
                }
            }
            /*********************  Large Screens *********************/
            
            @media (min-width: 1200px)and (max-width:1400px) {}
            /********************* Extra Large Screens *********************/
            
            @media (min-width: 1401px) {
                .product-info {
                    background: url(../images/properties/big-background2.png) no-repeat center;
                    background-size: cover;
                    padding: 100px 0 120px 0;
                }
                .tea-test {
                    background: url(../images/tea-test/section-background2.png) no-repeat center;
                    background-size: cover;
                    padding: 150px 0 100px 0;
                }
                .about-desc {
                    width: 50%;
                    background: url(../images/about/background-theme.png) no-repeat center;
                    background-size: contain;
                }
            }